<section class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <form data-ng-submit="vm.submit(frmUser);" name="frmUser" novalidate>
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input data-ng-model="vm.user.username" type="email" class="form-control" name="username" id="username" placeholder="Email"
                            required>
                        <p data-ng-show="frmUser.$submitted && frmUser.username.$error.required" class="help-block">Please enter email.</p>
                        <p data-ng-show="frmUser.$submitted && frmUser.username.$error.email" class="help-block">Invalid email format.</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input data-ng-model="vm.user.password" type="password" class="form-control" name="password" id="password" placeholder="Password"
                            required>
                        <p data-ng-show="frmUser.$submitted && frmUser.password.$error.required" class="help-block">Please enter password.</p>
                    </div>
                    <button type="submit" class="btn btn-success">Login</button>
                    <button type="reset" class="btn btn-warning">Cancel</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>